<div class="above-footer">

<div class="grey-footer container">

    <div class="left">

        {{widget('content', 'title1', {
  content: '<h3>About Us</h3>'
})|raw}}

    {{widget('content', 'abovefootercontent', {
  content: '<p>Lorem ipsum dolor sit amet...</p>'
})|raw}}

    </div>

    <div class="center">

        {{widget('content', 'title2', {
  content: '<h3>Address</h3>'
})|raw}}

    {{widget('content', 'abovefootercontent1', {
  content: '<p>Lorem ipsum dolor sit amet...</p>'
})|raw}}

    </div>

    <div class="right">

        {{widget('content', 'title3', {
  content: '<h3>Find Us</h3>'
})|raw}}

    {{widget('profile', 'profilearea', {
  'profileType':'twitter',
  'twitter':'profile',
  'refreshtime':'1800000'
})|raw}}

    </div>

    </div>


</div>



<!-- Footer -->
<footer class="template-footer">

	<div class="footer container">
    <div class="footer-left">
        {{widget('profile', 'footerprofilesocialicons', { 'profileType':'socialicons', 'socialicons':'profile'})|raw}}
    </div>
        <div class="footer-right">
        {{widget('profile', 'footerprofilecopyright', { 'profileType':'copyright', 'copyright':'profile'})|raw}}
        </div>
	</div>

</footer>
<!-- End Footer -->
